[flake8]
exclude =
    __pycache__
    env
    .env
    ./.venv
    venv
ignore = E501, W503, E226
max-line-length = 79
per-file-ignores = __init__.py:F401

# E501: Line too long
# W503: Line break occurred before binary operator
# E226: Missing white space around arithmetic operator
